<ion-view view-title="Autor">
  <ion-content class="color-fondo-autor">
      <div class="card fondo-autor color-fondo-autor-cards">
          <div class="img-perfil"></div>
          <div class="item item-divider">
            Nombre
          </div>
          <div class="item item-text-wrap color-fondo-autor-cards">
            Juan Giusti
          </div>
          <div class="item item-divider">
            Mail
          </div>
          <div class="item item-text-wrap color-fondo-autor-cards">
            jmgiusti91@gmail.com
          </div>
          <div class="item item-divider">
            GitHub
          </div>
          <div class="item item-text-wrap color-fondo-autor-cards">
            <a href="https://github.com/jmgiusti91" target="_blank">Toca aqui para ver mi GitHub</a>
          </div>
      </div>
  </ion-content>
</ion-view>
