

.titulos {
	color:#000;
}

.wrapPreg {

background: #37a52b; /* Old browsers */
background: -moz-linear-gradient(top,  #37a52b 0%, #4ece27 37%, #7be84c 72%, #aeff8c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #37a52b 0%,#4ece27 37%,#7be84c 72%,#aeff8c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #37a52b 0%,#4ece27 37%,#7be84c 72%,#aeff8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a52b', endColorstr='#aeff8c',GradientType=0 ); /* IE6-9 */

  	height: 10em;
  	width:100%;
  	font-size: 20px;
  	font-family: Tahoma, "sans-serif", Serif;
  	color:#444;
    text-align: center;
    padding-top: 5em;
    margin-bottom: 6px;
}

.usuario-nombre{
  width:100%;
  background-color:lightblue;
  font-size:3em;
}

#uno, #dos, #tres, #cuatro{
  margin-top: 15px;
  margin-bottom: 15px;
}

.ng-hide {
  height: 0;
}

.boton-inicio {
  width:100%;
  height:30%;
  font-size: 25px;
  margin:0 auto;
}

.estadisticas{
  margin-top:0px
}

.estadisticas-item{

}

.estadisticas-item-texto{

}

.estadisticas-boton{
  width:100%;
}

.resp-correcta {
  background-color: #33FF00;
  color:#000;
}

.resp-incorrecta{
  background-color: #FF3300;
  color:#000;
}

.button[disabled]{
  opacity:1;
}

.fondo-inicio {
  background-image: url("../img/inicio.png");
  height: 100%;
  width: 100%;
}

.fondo-preg {
  background-image: url("../img/img-preg.jpg");
  height: 100%;
  width: 100%;
}

.fondo-autor{
  width:70%;
  margin: 10px auto;
}

.img-perfil {
  background-image: url("../img/yo.jpg");
  background-position: center;
  background-size: 150px 150px;
  height:150px;
  width: 150px;
  margin:0px auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border:3px solid #666;
  position: relative;
  top:35px;
  z-index: 4;
}



.color-fondo-autor{
background: #fac695; /* Old browsers */
background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */

}

.color-fondo-autor-cards{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6f9ff+0,9ee8fa+100;Blue+3D */
background: #d6f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */

}

.keyboard-open .tabs{
  display:none;
  }
.keyboard-open .has-tabs{
 bottom:0;
 }


/* MEDIA QUERIES */


@media (max-width: 780px) and (orientation: landscape){

  .wrapPreg{
    height: 6em;
    font-size: 12px;
    padding-top:2em;
  }

  .usuario-nombre{
    font-size: 1.5em;
  }

  .boton-inicio{
    font-size: 15px;
    height: 20%;
  }

  #uno, #dos, #tres, #cuatro{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    height: 20px;
  }

  .estadisticas {
    margin-top: -10px;
  }

  .estadisticas-item{
    height:17px;
    font-size: 12px;
  }

  .estadisticas-item-texto{
    margin-top: -10px;
  }

  .estadisticas-boton{
    width: 100%;
    margin-top: -11px;
  }  

}


/* Estilos Lectura */


.oscuro  {
  background: #444;
  padding: 60px;
  }
   
#esquina  {
 background: #fff url(../img/imagen3.jpg) bottom right no-repeat;
}
 
#esquina p  {
  padding: 50px;
  margin: 0;
  height: 500px;
}

#esquina  {
 background: #fff url(../img/imagen3.jpg) bottom right no-repeat;
 }
